.navigation {
  display: flex;
  gap: 2rem;
}

.navigation button {
  display: none;
}
.navigation-icon {
  color: #fff;
  font-size: 1rem;
}
.navigation-icon:hover {
  color: #ff6347;
  transform: scale(0.7);
}
.responsive-nav {
  display: flex;
  gap: 2rem;
}
.menuNav {
  display: none;
}

.navigation-list {
  list-style-type: none;
}
.navigation-link {
  text-decoration: none;
  color: #fff;
}
.navigation-link:hover {
  color: #ff6347;
  text-decoration: underline;
}
@media (max-width: 600px) {
  .navigation {
    display: flex;
    position: relative;
  }
  .navigation button {
    display: inline-block;
    position: fixed;
    right: 1rem;
    top: 2rem;
    z-index: 100;
    cursor: pointer;
    background-color: #000;
    border: none;
  }
  /* .navigation button:active {
    transform: translateY(-1.5rem);
  } */
  .responsive-nav {
    display: none;
  }
  .menuNav {
    list-style: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    max-width: 100vw;
    z-index: 19;
    background-color: #000;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  .menuNav.showMenu {
    width: 100%;
  }
}
