* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.profile {
  min-height: 100vh;
  width: 100vw;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  color: rgb(253, 251, 251);
  background-color: black;
}

.profile-body {
  padding: 0 3rem;
}
.profile-body_text {
  width: 65%;
}

.profile-body_text h1 {
  font-size: 3rem;
  text-align: start;
}
.profile-body_highlight {
  display: block;
  color: #ff6347;
}
.profile-body_link {
  text-decoration: none;
  color: #ff6347;
  font-size: 1.5rem;
  text-transform: uppercase;
}
@media (max-width: 900px) {
  .profile {
    height: auto;
    padding: 1rem;
    font-size: 62.5%;
  }
  .profile-body_text {
    width: 75%;
  }
  .profile-body_text h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 600px) {
  .profile {
    height: auto;
    padding: 1rem;

    justify-content: space-between;
  }
  .profile-body_text {
    width: 85%;
  }
  .profile-body_text h1 {
    font-size: 1.5rem;
    line-height: 2;
  }
}
@media (max-width: 400px) {
  .profile-body_text {
    width: 100%;
  }
  .profile-body_text h1 {
    font-size: 1.5rem;
  }
}
