.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
  padding: 2rem;
}
.header-picture {
  height: 5rem;
  width: 5.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: #ff6347;
}
.header-img {
  border-radius: 50%;
  height: 5rem;
}
@media (max-width: 600px) {
  .header {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 3rem;
  }
  .header_picture {
    bottom: 0;
    left: 50%;
  }
}
